body {
	font-family: Arial, sans-serif;
}

ul {
  margin: 30px auto;
  padding: 0 20px;
  text-align: center;
}

.topNav {
	width: 100%;
	max-width: 76rem;
	text-align: center;
	position: relative;
}
/*
.jumbotron {
	width: 100%;
	text-align: center;
	color: #000000;
	background-color: #FFFFFF;
}
*/
.jumboText {
  background-color: #F7F7F7;
	border-style: solid;
	border-top-width: 2px;
	border-bottom-width: 2px;
	border-right-width: 0px;
	border-left-width: 0px;
  box-sizing: border-box;
  padding: 40px;
  text-align: center;
  width: 100%;
  position: relative;
  top: 50px;
}

.jumboText h4 {
	font-family: Arial, sans-serif;
	color: #000000;
}
.topNav li {
	color: #000000;
	background-color: #F7F7F7;
	font-family: Arial, sans-serif;
	font-size: 1rem;
	text-transform: uppercase;
	display: inline-block;
	padding: 20px;
	border-style: solid;
	border-width: 2px;
	border-color: #000000;
}

.topNav li:hover {
	color: #626a77;
}
