body {
	font-family: Arial, sans-serif;
}

nav {
	
}

.topNav {
	width: 100%;
	max-width: 76rem;
	text-align: center;
	position: relative;
	
}

.jumbotron {
	width: 100%;
	text-align: center;
	color: #000000;
	background-color: #FFFFFF;
}